/* hybrid */
.up_banner__img--goods-page {
    position: relative;
    top: -94px;
    left: 265px;
}

.brand-description {
    padding: 100px 0;
}
.brand-description__wrapper{
    display: flex;
    gap: 40px;
}
.brand-description__svg{
    min-width: fit-content;
}
.brand-description__text-bocks{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}
.brand-description__text{
    color: var(--grey-text);
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
}
.goods__wrapper{
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    gap: 80px;
}
.goods__img{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    justify-content: space-around;
}
.goods__characteristics{
    padding: 50px 100px;
    box-shadow: 0px 7px 62.4px 0px rgba(0, 0, 0, 0.07);

}
.goods__characteristics__desc{
    color: var(--grey-text);
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 10px 0 35px 0;
}

/* hyvrid end */
/* panels */

.banner_btn--panels{
    margin-top: 50px;
}
.brand-description__wrapper--panels {
    align-items: center;
}
.banner_btn--panels{
    margin-top: 50px;
}
.brand-description__wrapper {
    align-items: center;
}
.goods-menu__wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 40px 10px;
    justify-content: space-around;
    margin-bottom: 80px;
}
.goods-menu__item{
    box-shadow: 0px 7px 62.4px 0px rgba(0, 0, 0, 0.07);
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
}
.goods-menu__img{
    margin-bottom: 30px;
}
.goods-menu__item__title{
    color: var(--black-color);
    text-align: center;
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 10px;
}
.goods-menu__item__model{
    color: var(--black-color);
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}
.services__title--goods{
    text-align: center;
}




/* media */
@media (max-width: 1600px ){
    .up_banner__img--goods-page {
        position: relative;
        top: -140px;
        left: 170px;
        scale: .9;
    }
}
@media (max-width: 1340px){
    .up_banner__img--goods-page {
        position: relative;
        top: -161px;
        left: 48px;
        scale: .7;
    }
}
@media (max-width: 1020px){
    .up_banner__img--goods-page {
        position: relative;
        top: -173px;
        left: 53px;
        width: 100%;
    }
    .goods__characteristics {
        padding: 30px 50px;
    }
    .goods__characteristics__desc {
        font-size: 30px;
    }
    .brand-description__text {
        font-size: 18px;
    }
}
@media (max-width: 820px){
    .goods__wrapper {
        padding: 60px 0;
        gap: 50px;
    }
    .brand-description__svg {
        min-width: auto;
    }
    .brand-description__wrapper {
        display: flex;
        gap: 20px;
        align-items: flex-start;
    }
}
@media (max-width: 720px){
    .goods__wrapper {
        padding: 30px 0;
        gap: 30px;
    }
    .goods__characteristics {
        padding: 20px 30px;
    }
}
@media (max-width: 640px){
    .goods__wrapper {
        flex-direction: column-reverse;
        gap: 50px;
    }
    .goods__characteristics {
        max-width: 100%;
    }
    .goods__img > img{
        width: 45%;
    }
    .goods__characteristics__desc {
        font-size: 26px;
    }
}
@media (max-width: 500px) {
    .goods__characteristics__desc {
        font-size: 24px;
        margin: 10px 0 20px 0;
    }
} 
@media (max-width: 400px){
    .goods__characteristics__desc {
        font-size: 20px;
    }
}